.my-header-bg {
  background-color: #eebdc0;
  height: 12vh;
}

.my-bg {
  background-color: #faf3cd;
}

.my-cart-card {
  background-color: white;
  border-radius: 5px;
  padding: .5em;
}

.my-bottom-border {
  border-bottom: gray solid 3px;
}

.my-top-border {
  border-top: gray solid 3px;
}

.my-img {
  height: 25vh;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.my-img-card:hover {
  transform: scale(1.1);
  transition: all .2s ease
}

.my-img-card {
  background-color: white;
  border-radius: 5px;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}